<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-freeStyle-Libre" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FreeStyleLibrePlugin</name>
    <js-module name="FreeStyleLibrePlugin" src="www/FreeStyleLibrePlugin.js">
        <clobbers target="cordova.plugins.FreeStyleLibrePlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FreeStyleLibrePlugin">
                <param name="android-package" value="cordova.plugin.freestylelibre.FreeStyleLibrePlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-feature android:name="android.hardware.nfc" android:required="false"/>
        </config-file>
        <lib-file src="src/android/commons-math3-3.6.jar" />
        <!--<config-file parent="/*" target="AndroidManifest.xml"></config-file>-->
        <source-file src="src/android/FreeStyleLibrePlugin.java" target-dir="src/cordova.plugin.freestylelibre/FreeStyleLibrePlugin" />
        <source-file src="src/android/Util.java" target-dir="src/cordova.plugin.freestylelibre/Util" />
    </platform>
</plugin>